// === Variables ===

// --- colors ---
$color-title_main_1: #424242;
$color-title_items: #666666;
$color-subtitle: #999999;
$color-notes: #cccccc;
$color-social_icons: #dddddd;
$color-bg: #f1f1f1;
$color-title_main_2: #ffffff;
// --- /colors ---

// --- spacing ---
$spacing: 10px;
$spacing-double: $spacing * 2; //20px
$spacing-minimal: $spacing * 1.6; //16px
$spacing-items: $spacing * 3; //30px
$spacing-vertical_1: $spacing * 6; //60px
$spacing-vertical_2: $spacing * 8; //80px
// --- /spacing ---

// === /Variables ===
